@mixin mainBtn() {
    font-size: 18px;
    font-family: inherit;
    color: white;
    background: linear-gradient(#4499D9, #7367BE);
    border: none;
    border-radius: 100px;
    padding: 13px 14px;
}

@mixin mainslogan() {
    font-size: 58px;
    font-weight: bold;

}

@mixin Mytite() {
    margin-right: 2px; 
    color: $secondary-black;
    font-size: 23px;
    font-weight: 500;
}



$main-black: #355070;
$main-dark-brown: #6D597A;
$main-brown: #B56576;
$main-light-brown: #E56B6F;
$main-yellow: #EAAC8B;
$main-bg: #FFE6D6;
$secondary-black: #446381;
$secondary-brown: #EB8382;

@import "./header";
@import "./hero";
@import "./block2";
@import "./block3";
@import "./block4";
@import "./footer";




*, html, *::after, *::before {
    padding: 0;
    margin: 0;
}


body {
    max-width: 1440px;
    margin-inline: auto;
    background-color: $main-bg;
    font-family: 'Josefin Sans', sans-serif;

    
}

li {
    list-style-type: none;
}



.bg {
        background: url("../assets/image 3.png") no-repeat;
        background-size:contain;
    
}

